*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  color: #f7f7f7;
  min-height: 100vh;
  background: #B8D5B8;
  text-rendering: optimizeSpeed;
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 5rem;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

h1 {
  font-weight: 700;
  color: #447444;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.input-wrapper {
  margin: 3.5rem;
  display: flex;
  align-items: center;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

input {
  width: 400px;
  padding: 0.8em;
  
}

input:focus {
  outline: none;
}

input
 {
  font-size: 1em;
  border: 1px solid #447444;
}
.add-button {
  padding: 0.8em;
  color: #fff;
  background-color: #447444;
  border-left: none;
  border: 4px solid #447444;
  padding: .8em;
  margin: 0;

  /* margin-top:20px */
}
.delete-button{
  padding: 0.85em;
  color: #fff;
  background-color: #447444;
  border-left: none;
  border: 3px solid #447444;
  margin: 0;

  /* margin-top:20px */
}



ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}
li {
  width: 350px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #7EB47E;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #447444;
}

li:last-child {
  margin-bottom: 0px;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #447444;
  letter-spacing: 0.2rem;
}